<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764307529493-g6idkberftfjbgjb0ia9ieqomddcbdg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764307529493-g6idkberftfjbgjb0ia9ieqomddcbdg5</string>
	<key>API_KEY</key>
	<string>AIzaSyApAnWZ5HASSAYyw5ISSazNkoBYaEDKNP0</string>
	<key>GCM_SENDER_ID</key>
	<string>764307529493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectsv.StoreBFA</string>
	<key>PROJECT_ID</key>
	<string>storebfa</string>
	<key>STORAGE_BUCKET</key>
	<string>storebfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764307529493:ios:caf81d7532739d9abd131c</string>
</dict>
</plist>